# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
env/
venv/
.env/
.venv/
ENV/
VENV/

# Ignore test files/directories
fetch_and_reformat_local.py
api/track_api_test/
api/fnfest_content_api_test.json

# Ignore Jekyll build
_site/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/
*.swp