@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --background-color: #f0f0f0;
  --text-color: #000;
  --header-background-color: #aa4caf;
  --header-text-color: #fff;
  --link-color: #aa4caf;
  --link-hover-color: #aa4caf;
  --container-background-color: #fff;
  --container-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --li-background-color: #f9f9f9;
  --li-border-color: #ddd;
  --input-background-color: #fff;
  --input-text-color: #000;
  --input-border-color: #ddd;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #fff;
  --header-background-color: #333;
  --header-text-color: #fff;
  --link-color: #bb86fc;
  --link-hover-color: #bb86fc;
  --container-background-color: #333;
  --container-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  --li-background-color: #444;
  --li-border-color: #555;
  --input-background-color: #333;
  --input-text-color: #fff;
  --input-border-color: #555;
}

body {
  font-family: "Radio Canada Big", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  padding: 1rem 0;
}

.theme-switch {
  display: flex;
  align-items: center;
  margin: 0 2rem 0 0;
}

.theme-switch input {
  display: none;
}

.theme-switch label {
  cursor: pointer;
  font-size: 3rem;
  color: var(--header-text-color);
  margin: 0 1rem;
}

.theme-switch .fa-sun,
.theme-switch .fa-moon {
  font-size: 2rem;
  color: var(--header-text-color);
}

footer {
  text-align: center;
  max-width: 40vw;
  margin: 0 auto;
}

h1 {
  font-size: 7rem;
  font-weight: 700;
  font-style: italic;
}

h1, h2 {
  text-align: center;
  margin: 0 auto;
}

.container {
  max-width: 60vw;
  max-height: calc(80vh - 4rem); /* Adjust based on header/footer height */
  margin: 2rem auto;
  padding: 4rem;
  background-color: var(--container-background-color);
  box-shadow: var(--container-box-shadow);
  flex: 1;
  overflow-y: auto;
  border-radius: 10px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#search-bar {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  margin-right: 1rem;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
}

#sort-dropdown {
  padding: 0.5rem;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
  gap: 0.1rem 1rem;
  list-style-type: disc;
  padding: 0;
  margin: 0;
}

li {
  background-color: var(--li-background-color);
  padding: 0.5rem;
  border: 1px solid var(--li-border-color);
  border-radius: 4px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}