@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color: hsla(283, 75%, 74%, 1);
  --background-gradient: radial-gradient(circle at 1% 93%, hsla(255, 96%, 91%, 1) 0%, transparent 77%), radial-gradient(circle at 58% 46%, hsla(230, 94%, 62%, 1) 0%, transparent 58%), radial-gradient(circle at 7% 61%, hsla(280, 72%, 45%, 1) 6%, transparent 56%), radial-gradient(circle at 3% 38%, hsla(249, 92%, 45%, 1) 19%, transparent 82%), radial-gradient(circle at 61% 42%, hsla(263, 95%, 63%, 1) 0%, transparent 80%);
  --background-blend-mode: normal, normal, normal, normal, normal;
  --text-color: #333;
  --header-background-color: hsla(0, 0%, 00%, 0.3);
  --header-text-color: #fff;
  --link-color: #5555bf;
  --link-hover-color: #5555bf;
  --container-background-color: hsla(0, 0%, 70%, 0.5);
  --container-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --li-background-color: hsla(0, 0%, 90%, 0.3);
  --input-background-color: hsla(0, 0%, 100%, 0.6);
  --input-text-color: #555;
  --input-border-color: #ddd;
}

[data-theme="dark"] {
  --background-color: hsla(272, 30%, 11%, 1);
  --background-gradient: radial-gradient(circle at 9% 38%, hsla(259, 41%, 7%, 1) 18%, transparent 74%), radial-gradient(circle at 95% 16%, hsla(275, 51%, 20%, 1) 15%, transparent 62%), radial-gradient(circle at 63% 85%, hsla(311, 65%, 13%, 1) 5%, transparent 87%), radial-gradient(circle at 75% 92%, hsla(291, 45%, 34%, 1) 8%, transparent 77%), radial-gradient(circle at 32% 99%, hsla(200, 35%, 26%, 1) 11%, transparent 87%);
  --background-blend-mode: normal, normal, normal, normal, normal;
  --text-color: #e0e0e0;
  --header-background-color: hsla(0, 0%, 20%, 0.5);
  --header-text-color: #eee;
  --link-color: #8688fc;
  --link-hover-color: #8688fc;
  --container-background-color: hsla(0, 0%, 20%, 0.7);
  --container-box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  --li-background-color: hsla(0, 0%, 27%, 0.2);
  --input-background-color: #333;
  --input-text-color: #aaa;
  --input-border-color: #555;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--background-color);
  background-image: var(--background-gradient);
  background-blend-mode: var(--background-blend-mode);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  box-shadow: var(--container-box-shadow);
  padding: 1rem 0;
}

.theme-switch {
  display: flex;
  align-items: center;
  margin: 0 2rem 0 0;
}

.theme-switch input {
  display: none;
}

.theme-switch label {
  cursor: pointer;
  font-size: 3rem;
  color: var(--header-text-color);
  margin: 0 1rem;
}

.theme-switch .fa-sun,
.theme-switch .fa-moon {
  font-size: 2rem;
  color: var(--header-text-color);
}

footer {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  margin: 0 auto;
  max-width: 40vw;
}

h1 {
  font-size: 7rem;
  font-weight: 900;
  font-style: italic;
}

h1, h2 {
  text-align: center;
  margin: 0 auto;
}

.container {
  max-width: 60vw;
  max-height: calc(80vh - 6rem); /* Adjust based on header/footer height */
  margin: 2rem auto;
  padding: 4rem;
  background-color: var(--container-background-color);
  box-shadow: var(--container-box-shadow);
  flex: 1;
  overflow-y: auto;
  border-radius: 10px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#search-bar {
  font-weight: 800;
  flex: 1;
  padding: 0.5rem;
  border-radius: 6px;
  border: 0px;
  margin-right: 1rem;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
}

#sort-dropdown {
  font-weight: 800;
  padding: 0.5rem;
  border: 0px;
  border-radius: 6px;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
  gap: 0.1rem 1rem;
  list-style-type: disc;
  padding: 0;
  margin: 0;
}

li {
  font-weight: 600;
  background-color: var(--li-background-color);
  padding: 0.7rem;
  border-radius: 8px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}